.calculator-container {
  margin: 80px 0 0 80px;
  width: 300px;
}

.buttons-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 300px;
  height: 350px;
}

.calc-btn {
  background-color: #686868;
  color: white;
  font-size: 20px;
  width: 25%;
  border-radius: 3px;
}

.equal {
  background-color: rgba(14, 14, 227, 0.553);
}

.please-clear {
  width: 300px;
  text-align: center;
}

.display {
  text-align: right;
  margin-right: 10px;
}